<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navB.css">
    <title>Document</title>
</head>
<body>
    <footer class="navbarBottom">
        <div class="bottom-icons-sm">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-clapperboard"></i>
            <i class="fa-brands fa-facebook-messenger"></i>
            <i class="fa-regular fa-circle-user" style="color: #74C0FC;"></i>
        </div>
    </footer>
</body>
</html>