*{
    padding: 0;
    margin: 0;
    color: rgb(245, 245, 245);
}
a{
    text-decoration: none;
    position: relative;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
}
.sidenavbar{
    width: 220px;
    height: calc(100vh - 28px);
    padding: 8px 12px 20px;
    background-color: rgb(0, 0, 0);
    display: flex;
  flex-direction: column;
}
.insta{
    width:calc(100% - 28px);
    padding: 25px 12px 16px;
    height: 32px;
}
.insta-name{
    width: 103px;
    height: 29px;
    object-fit: cover;
    cursor: pointer;
}
.insta-icon{
    display: none;
    width: 24px;
    height: 24px;
    object-fit: cover;
    color: rgb(245, 245, 245);
    cursor: pointer;
}
.icons{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.icons i{
  width: 24px;
  height: 24px;
  margin: 8px 0;
  font-size: 24px;
  padding: 12px;
  color: rgb(245, 245, 245);
  cursor: pointer;
}
.bottom-icons{
    display: flex;
    flex-direction: column;
}
.bottom-icons i{
  width: 24px;
  height: 24px;
  margin: 8px 0;
  font-size: 24px;
  padding: 12px;
  color: rgb(245, 245, 245);
  cursor: pointer;
  /*display: flex;
  flex-direction: column*/
}
.more-funcs{
    width:250px;
    height: fit-content;
    padding: 8px;
    background-color: #F15F79;
    position: absolute;
    bottom: 95%;
    border-radius: 16px;
    background-color: rgb(38, 38, 38);
    display: none;
    flex-direction: column;
}
.more-func{
    padding: 16px;
    height: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.threads{
    display: none;
}
.more-func i{
   /* height: 18px;
    width: 18px; */
    font-size: 15px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.hr-line{
        height: 8px;
        margin: 8px;
        background-color: #F15F79;
    }
.mf-icon{
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.icon-name{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 245, 245);
    cursor: pointer;
}
@media screen and (max-width: 1264px) {
    .sidenavbar{
        width: 48px;
        /*display: flex;
        flex-direction: column;*/
    }
    .insta-name{
        display: none;
    }
    .insta-icon{
        display: flex;
    }
    .icon-name{
        display: none;
    }
    .more-funcs{
        left: 95%;
        bottom: 0;
        z-index: 5;
    }
    
  }
  @media screen and (max-width: 766px) {
    body{
    flex-direction: column;
    }
    .sidenavbar{
        display: none;
    }
    .insta-icon{
        display: none;
    }
  }
  @media screen and (max-width: 1160px) {
   .side-content{
    display: none;
   }
  }
  @media screen and (max-height: 700px) {
    .threads{
        display: flex;
    }
    .threads-side{
        display: none;
    }
  }